modules = ["python-3.11", "postgresql-16", "python3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["file", "freetype", "ghostscript", "glibcLocales", "gumbo", "harfbuzz", "icoutils", "imagemagick", "jbig2dec", "lcms2", "libimagequant", "libjpeg", "libjpeg_turbo", "libreoffice", "libtiff", "libwebp", "libxcrypt", "mupdf", "openjpeg", "poppler", "poppler_utils", "qpdf", "swig", "tcl", "tesseract", "tesseract4", "tk", "xcbuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HubPDF Server"

[[workflows.workflow]]
name = "HubPDF Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39785
externalPort = 3001

[[ports]]
localPort = 43509
externalPort = 3000
